collectd:
  FQDNLookup: true
  TypesDB: ['/usr/share/collectd/types.db']
  plugins:
    default: [battery, cpu, entropy, load, memory, swap, load, users]
    enable: false
    syslog:
      LogLevel: info
    network:
      host: 'logstash'
      port: 25826
    mysql:
      host: 'localhost'
      port: '3306'
      user: 'myuser'
      pass: 'mypass'
      name: 'mydb'
      MasterStats: 'false'
    postgresql:
      host: 'localhost'
      port: '5432'
      user: 'myuser'
      pass: 'mypass'
      name: 'mydb'
    df:
      Device:
      MountPoint:
      FSType: 'ext4'
      IgnoreSelected: false
      ReportByDevice:
      ReportReserved:
      ReportInodes:
    ntpd:
      host: localhost
      port: 123
      ReverseLookups: 'false'
    java:
      host: localhost
      port: 17264
      user: ''
      pass: ''
      lib: '/usr/lib/jvm/java-7-oracle/jre/lib/amd64/libjava.so'
    ethstat:
      interface: 'eth0'
    interface:
      interfaces: ['eth0', 'lo0']
      IgnoreSelected: 'false'
    disk:
      matches: ['/^[hs]d[a-f][0-9]?$/']
