{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'config': '/etc/collectd/collectd.conf',
        'javalib': '/usr/lib/collectd/java.so',
        'pkg': 'collectd-core',
        'plugindirconfig': '/etc/collectd/plugins',
        'service': 'collectd',
        'TypesDB': ['/usr/share/collectd/types.db'],
        'user': 'root',
        'group': 'root',
    },
    'RedHat': {
        'config': '/etc/collectd.conf',
        'pkg': 'collectd',
        'plugindirconfig': '/etc/collectd.d',
        'service': 'collectd',
        'TypesDB': ['/usr/share/collectd/types.db'],
        'user': 'root',
        'group': 'root',
    },
    'FreeBSD': {
        'config': '/usr/local/etc/collectd.conf',
        'pkg': 'collectd5',
        'plugindirconfig': '/usr/local/etc/collectd.d',
        'service': 'collectd',
        'TypesDB': ['/usr/local/share/collectd/types.db'],
        'user': 'root',
        'group': 'wheel',
    },
}, merge=salt['pillar.get']('collectd:lookup')) %}

{# Settings dictionary with default values #}
{% set default_settings = {
    'collectd': {
        'FQDNLookup': 'false',
        'plugins': {
            'default': [
                'battery',
                'cpu',
                'entropy',
                'load',
                'memory',
                'swap',
                'users'
            ],
            'apache': {
                'host': salt['grains.get']('host')
            },
            'df': {
                'IgnoreSelected': 'false',
                'ReportByDevice': 'false',
                'ReportReserved': 'false',
                'ReportInodes': 'false'
            },
            'disk': {
                'matches': [],
                'IgnoreSelected': 'false'
            },
            'enable': false,
            'ethstat': {
                'interface': 'eth0'
            },
            'interface': {
                'interface': 'eth0',
                'IgnoreSelected': 'false'
            },
            'java': {
                'host': 'localhost',
                'port': '17264',
            },
            'mysql': {
                'databases': []
            },
            'network': {},
            'nginx': {
                'url': 'http://localhost/check_status',
            },
            'ntpd': {
                'host': 'localhost',
                'port': '123',
                'ReverseLookups': 'false'
            },
            'ping': {
                'hosts': ['google.com', 'yahoo.com'],
                'hosts_from_grains': {},
            },
            'postgresql': {
                'databases': []
            },
            'processes': {
                'Processes': [],
                'ProcessMatches': []
            },
            'statsd': {
                'host': '"::"',
                'port': 8125
            },
            'syslog': {
                'loglevel': 'info'
            },
            'write_graphite': {
                'node': salt['grains.get']('fqdn')
            }
        }
    }
} %}

{# Merge os_map into settings dictionary #}
{% do default_settings.collectd.update(os_map) %}

{# Update settings defaults from pillar data #}
{% set collectd_settings = salt['pillar.get']('collectd', default=default_settings.collectd, merge=True) %}
