{% set os_map = salt['grains.filter_by']({
    'Debian': {
        'config': '/etc/collectd/collectd.conf',
        'javalib': '/usr/lib/collectd/java.so',
        'pkg': 'collectd-core',
        'plugindirconfig': '/etc/collectd/plugins',
        'service': 'collectd',
        'TypesDB': ['/usr/share/collectd/types.db'],
    },
    'RedHat': {
        'config': '/etc/collectd.conf',
        'pkg': 'collectd',
        'plugindirconfig': '/etc/collectd.d',
        'service': 'collectd',
        'TypesDB': ['/usr/share/collectd/types.db'],
    },
}, merge=salt['grains.filter_by']({
    'Ubuntu': {
        'plugindirconfig': '/etc/collectd/collectd.conf.d'
    },
}, grain='os', merge=salt['pillar.get']('collectd:lookup'))) %}

{# Settings dictionary with default values #}
{% set default_settings = {
    'collectd': {
        'FQDNLookup': 'false',
        'plugins': {
            'apache': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'host': salt['grains.get']('host')
                }
            },
            'battery': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'cpu': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'df': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'IgnoreSelected': 'false',
                    'ReportByDevice': 'false',
                    'ReportReserved': 'false',
                    'ReportInodes': 'false'
                }
            },
            'disk': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'matches': []
                }
            },
            'entropy': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'ethstat': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'interface': 'eth0'
                }
            },
            'interface': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'interfaces': ['eth0'],
                    'IgnoreSelected': 'false'
                }
            },
            'java': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'host': 'localhost',
                    'port': '17264',
                }
            },
            'load': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'memory': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'mysql': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'databases': []
                }
            },
            'network': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {}
            },
            'nginx': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'url': 'http://localhost/check_status',
                }
            },
            'ntpd': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'host': 'localhost',
                    'port': '123',
                    'ReverseLookups': 'false'
                }
            },
            'ping': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'hosts': ['google.com', 'yahoo.com'],
                    'hosts_from_grains': {},
                }
            },
            'postgresql': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'databases': []
                }
            },
            'processes': {
                'enabled': True,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'Processes': [],
                    'ProcessMatches': []
                }
            },
            'rrdtool': {
                'enabled': False,
                'load_state': False,
                'include_config': True
            },
            'statsd': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'host': '"::"',
                    'port': 8125
                }
            },
            'swap': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'syslog': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'loglevel': 'info'
                }
            },
            'users': {
                'enabled': True,
                'load_state': False,
                'include_config': False
            },
            'write_graphite': {
                'enabled': False,
                'load_state': True,
                'include_config': True,
                'settings': {
                    'nodes': {}
                }
            }
        }
    }
} %}

{# Merge os_map into settings dictionary #}
{% do default_settings.collectd.update(os_map) %}

{# Update settings defaults from pillar data #}
{% set collectd_settings = salt['pillar.get']('collectd', default=default_settings.collectd, merge=True) %}
